html{
    background-attachment: fixed!important;
    background-position: 50% 0%;

}


#modal_form {
    width: 320px;
    height: 420px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 35%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 50px 30px 0 30px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: gray;
}
/* Пoдлoжкa */
#overlay {
    z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position: fixed; /* всегдa перекрывaет весь сaйт */
    background-color: #000; /* чернaя */
    opacity: 0.8; /* нo немнoгo прoзрaчнa */
    width: 100%;
    height: 100%; /* рaзмерoм вo весь экрaн */
    top: 0;
    left: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    cursor: pointer;
    display: none; /* в oбычнoм сoстoянии её нет) */
}

.titleorder{
    color:#3e454f;
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}

#modal_form p{
    text-align: center;
    color: #3e454f;
}

#buttomOrder{
    background: none;
    border: none;
    border-bottom: 1px dotted #559ec9;
    color: #559ec9;
    font-size: 23px;
    display: block;
    margin: 0 auto;
}


#nameOrder,#telephoneOrder,#emailOrder {
    width: 80%;
}
#modal_form form{
    text-align: center;
    margin-top: 30px;
}

#modal_form form p{
     color: black;
    font-weight: bold;
}

#modal_form form input{
    width: 100%;
    border-radius: 2px;
    border: 1px solid gray;
    padding: 5px 0;
    margin: 5px 0;
}


#modal_form h4{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

#modal_form p{
    font-size: 13px;
    color: gray;
}

#modal_form p span{
    color: black;
    font-size: 14px;
}

.feedback-button{
    background-color: transparent;
    border: none!important;
    text-transform: uppercase;
    text-decoration: underline;
    color: #1c89cb;
    font-weight: bold;
}
.tab-pane{
    display: none;
}
.tab-pane.active{
    display:block;
}

.events-page-photo-report{
    margin-top: 115px;
}
.events-page-video{
    padding: 25px;
}

.event-page-photo {
    margin-top: 25px;
    background: #3d4d65;
    padding: 25px;
}


.other_events{
    position: relative;
}

.other_events:hover img.see_events{
    display: block;
    cursor: pointer;
}

.see_events{
    position: absolute;
    display:none;
    top: 37%;
    left: 47%;
}

.name_events,.date_events,.countPhoto,.countVideo{
    color:#fff;
    position: absolute;
}
span.name_events {
    top: 25px;
    font-family: "PT Sans", sans-serif;
    font-size: 36px;
    left: 20px;
}

span.date_events {
    top: 75px;
    left: 21px;
    font-family: "Myriad Pro";
}

.countPhoto {
    color: #f8bb00;
    font-size: 16px;
    top: 220px;
    position: absolute;
    left: 21px;
}

.countPhoto span,.countVideo span{
    color:#fff;
}

.countVideo {
    color: #f8bb00;
    font-size: 16px;
    top: 240px;
    position: absolute;
    left: 21px;
}

.lost_found_wr{
    padding: 0 25px;
    padding-top: 10px;
}

.lost_found_img {
    display: inline-block;
}

.lost_found_img img{
    border-radius: 8px;
}

.lost_found_info {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}

.lost_found_description {
    width: 458px;
    text-align: justify;
}

.lost_found_title {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.lost_found_description {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
}

.lost__found__box {
    width: 710px!important;
}

.store__box__info {
    font-size: 14px;
    color: #fff;
    padding-top: 136px;
}

span.found {
    font-size: 16px;
    color: #f8bb00;
    display: inline-block;
    border: 1px solid #f8bb00;
    width: 150px;
    border-radius: 26px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    margin-top: 10px;
}

a.not_found {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 26px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    margin-top: 10px;
    cursor: pointer;
}

p.info_found{
    text-align: right;
    display: inline-block;
    float: right;
    color: #fff;
}

hr {
    border: 0;
    height: 1px;
    background: #54657e;
}

.calendar{
    text-align: center;
    position: relative;
}

.mon a{
    color:#8493a8;
    text-transform: lowercase;
}
span.currentMon a{
    color: #fff;
    text-transform: lowercase;
    border: 1px solid #fff;
    border-radius: 17px;
    padding: 3px 7px;
    line-height: 20px;
}

.day{
    color:#fff;
    float: left;
    margin:0 5px;
}
.selectDay{
    background: #f8bb00;
    color: #3d4d65;
    display: block;
    border-radius: 22px;
    float: left;
    width: 18px;
    margin: 0 5px;
}

.allDays{
    width: 785px;
    margin: 0 auto;
    margin-top: 8px;
}

.right_arrow{
    position: absolute;
    background: url(../img/arrow_right.png);
    width: 12px;
    height: 21px;
    right: 25px;
}

.left_arrow{
    position: absolute;
    background: url(../img/arrow_left.png);
    width: 12px;
    height: 21px;
    left: 25px;
}

.photoreports-page__head .left_arrow,.photoreports-page__head .right_arrow{
    top: 6px;
}

.photoreports-page__head{
    position: relative;
}

.photoreport__zagolovok {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.early_mon{
    background: url("../img/early_mon.png") no-repeat 0% 50%;
    height: 24px;
    padding-left: 34px;
    color: #fff;
    display: block;
    width: 50%;
    margin-top: 26px;
    margin-left: 17px;
}



.next_mon {
    background: url("../img/next_mon.png") no-repeat 100%;
    height: 24px;
    width: 40%;
    color: #fff;
    padding-right: 33px;
    float: right;
    text-align: right;
    margin-top: -26px;
    margin-bottom: 26px;
    margin-right: 17px;
}

.hall_fame_one{
    position: relative;
    float: left;
    padding: 0;
    margin-right: 40px;
}


.hall_fame_one img{
    width: 425px;
    height: 420px;
    border:2px solid transparent;
}

img.hover_hall_fame{
    width: 128px!important;
    height: 72px!important;
    position: absolute;
    display: none;

}

.hall_fame_one span.title{
    position: absolute;
    bottom: 94px;
    left: 60px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.hall_fame_one:hover img{
    border: 2px solid #fff;
}

.hall_fame_one:hover img.hover_hall_fame{
    display: block;
    border: none;
    top: 170px;
    left: 134px;
}

.hall_fame_second{
    position: relative;
    padding: 0;
    float: left;
    margin-bottom: 20px;
}

.hall_fame_second img{
    width: 425px;
    height: 195px;
    border:2px solid transparent;
}

.hall_fame_second span.title{
    position: absolute;
    bottom: 19px;
    left: 35px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.hall_fame_second:hover img{
    border: 2px solid #fff;
}

.hall_fame_second:hover img.hover_hall_fame{
    display: block;
    border: none;
    top: 53px;
    left: 160px;
}

.hall_fame_third,.hall_fame_fourth{
    position: relative;
    padding: 0;
    float: left;
    margin-bottom: 22px;
}

.hall_fame_third img,.hall_fame_fourth img{
    width: 197px;
    height: 197px;
    border:2px solid transparent;
}

.hall_fame_third span.title, .hall_fame_fourth span.title{
    position: absolute;
    bottom: 29px;
    left: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.hall_fame_third:hover img, .hall_fame_fourth:hover img{
    border: 2px solid #fff;
}

.hall_fame_third:hover img.hover_hall_fame, .hall_fame_fourth:hover img.hover_hall_fame{
    display: block;
    border: none;
    top: 55px;
    left: 40px;
}

.hall_fame_third {
    margin-right: 26px;
}



.hall_fame_fifth,.hall_fame_sixth{
     position: relative;
     padding: 0;
     float: left;
     margin-bottom: 22px;
 }

.hall_fame_fifth img,
.hall_fame_sixth img{
    width: 423px;
    height: 197px;
    border:2px solid transparent;
}

.hall_fame_fifth span.title,
.hall_fame_sixth span.title{
    position: absolute;
    bottom: 29px;
    left: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.hall_fame_fifth:hover img,
.hall_fame_sixth:hover img{
    border: 2px solid #fff;
}

.hall_fame_fifth:hover img.hover_hall_fame,
.hall_fame_sixth:hover img.hover_hall_fame{
    display: block;
    border: none;
    top: 70px;
    left: 152px;
}

.hall_fame_fifth{
    margin-right: 45px;
}



.hall_fame_seventh{
    position: relative;
    padding: 0;
    display: inline-block;
    float: none;
    margin-bottom: 20px;
    overflow: hidden;
    height: 195px;
}

.hall_fame_seventh img{
    width: 100%;
    height: auto;
    border:2px solid transparent;
}

.hall_fame_seventh span.title{
    position: absolute;
    bottom: 19px;
    left: 35px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.hall_fame_seventh:hover img{
    border: 2px solid #fff;
}

.hall_fame_seventh:hover img.hover_hall_fame{
    display: block;
    border: none;
    top: 65px;
    left: 160px;
}


.hall_fame_eighth{
    position: relative;
    padding: 0;
    display: inline-block;
    float: none;
    margin-bottom: 20px;
}

.hall_fame_eighth img{
    width: 197px;
    height: 197px;
    border: 2px solid transparent;
}

.hall_fame_eighth span.title{
    position: absolute;
    bottom: 19px;
    left: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.hall_fame_eighth:hover img{
    border: 2px solid #fff;
}

.hall_fame_eighth:hover img.hover_hall_fame{
    display: block;
    border: none;
    top: 65px;
    left: 37px;
}


.hall_fame_ninth{
    position: relative;
    padding: 0;
    display: inline-block;
    float: none;
    margin-bottom: 20px;
}

.hall_fame_ninth img{
    width: 197px;
    height: 197px;
    border: 2px solid transparent;
}

.hall_fame_ninth span.title{
    position: absolute;
    bottom: 19px;
    left: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.hall_fame_ninth:hover img{
    border: 2px solid #fff;
}

.hall_fame_ninth:hover img.hover_hall_fame{
    display: block;
    border: none;
    top: 65px;
    left: 37px;
}

.hall_fame_eighth {
    margin-right: 26px;
}

.cleared {
    display: block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    height: 0;
    overflow: hidden;
}


.hall_fame_tenth{
    position: relative;
    float: left;
    padding: 0;
}


.hall_fame_tenth img{
    width: 425px;
    height: 420px;
    border:2px solid transparent;
}


.hall_fame_tenth span.title{
    position: absolute;
    bottom: 94px;
    left: 60px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.hall_fame_tenth:hover img{
    border: 2px solid #fff;
}

.hall_fame_tenth:hover img.hover_hall_fame{
    display: block;
    border: none;
    top: 170px;
    left: 134px;
}

.wapper_fame_hall {
    float: left;
    margin-right: 40px;
}

.slider{
    float: left;
    margin-right: 15px;
}

.description{
    color:#fff;
    font-size: 16px;
}

a.name_event {
    color: #31a8e6;
    font-size: 16px;
    text-decoration: underline;
}

.event span{
    float: right;
    color: #fff;
}

.events-page__head--but {
    margin: 19px 5px 0!important;
}

.events-page__head .activeTab {
    line-height: 20px!important;
}

li.active .events-page__head--but {
    margin: 17px 5px 0!important;
}
.footer__button a {
    background-image: linear-gradient(to bottom, #22a7d8 0%, #135cb6 100%)!important;
}

.wordpress-post-tabs-skin-default .ui-tabs .ui-tabs-nav li.ui-state-active a, .wordpress-post-tabs-skin-default .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .wordpress-post-tabs-skin-default .ui-tabs .ui-tabs-nav li.ui-state-processing a{
    cursor: pointer;
    color: #fff;
    background: none;
    font-size: 36px;
    text-decoration: none;
}
.wordpress-post-tabs-skin-default .ui-tabs .ui-tabs-nav li a {
    float: none;
    text-decoration: none;
    padding: 0px !important;
    color: #fff;
    line-height: 24px !important;
    background-color: none;
}

.wordpress-post-tabs-skin-default .ui-tabs .ui-tabs-nav li a{
    background: none;
    font-size: 36px;
    color: #31a8e6!important;
    text-decoration: underline;
    padding-right: 15px!important;
}

.wordpress-post-tabs-skin-default .ui-tabs .ui-tabs-nav li.ui-corner-top.ui-state-active {
     border-width: 0 !important;
     background:none;
}

.wordpress-post-tabs-skin-default .ui-tabs .ui-tabs-nav li.ui-corner-top, .wordpress-post-tabs-skin-default .ui-tabs-horizontal-top .wpts_ext {
    padding-bottom: 0px!important;
     height: 0px;
}

.wordpress-post-tabs{
    margin-top: -45px;
}

.about_club{
    /*padding: 15px;*/
    color:#adb9ca;
}

.about_club h2{
    color: #fff;
    font-weight: normal;
}

.about_club .breadcrumbs{
    padding: 30px;
    background: #3d4d65;
}

.about_club .ui-tabs-nav{
    background: #3d4d65;
    height: 45px;
    padding: 8px 30px 0px 30px!important;
}

.ui-tabs-panel{
    padding: 0px 30px 30px 30px!important;
}

span.selectDay{
    position: relative;
}

.allDays .popup_block{
    width: 180px;
    height: 55px;
    display: none;
    position: absolute;
    top: -85px;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 8px;
    text-align: center;
}



.wcomments_head{
    background: RED!important;
}
/*
div#page_wrap {
    background: #3d4d66!important;
}

.wcomments_userpic img{
    border-right: 10px;
}
body.font_medium{
    background: #3d4d66!important;
}
#page_wrap #wcomments_page{
    background: #3d4d66!important;
}
*/


.breadcrumbs span a {
    display: inline-block;
    width: inherit;
    float: inherit;
}

.breadcrumbs{
    color: #fff;
}

a.photo_report_events_img {
    overflow: hidden;
    text-align: center;
    word-spacing: nowrap;
    vertical-align: middle;
    position: relative;
    width: 166px;
    height: 166px;
    margin: 5px;
    display: inline-block;
}
a.photo_report_events_img:after {
     content: "";
     display: inline-block;
     height: 100%;
     vertical-align: middle;
 }
a.photo_report_events_img img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    vertical-align: middle;
}

.slider-for-item-img-box{

    /*text-align: center;*/
    /*word-spacing: nowrap;*/
    /*vertical-align: middle;*/
    /*position: relative;*/
    /*width: 750px!important;*/
    /*height: 500px!important;*/
    /*margin: 25px auto;*/
    /*display: block!important;*/
}
/*
.slider-for{
    height: 500px!important;
}
*/

/*.slider-for-item-img-box:after {*/
    /*content: "";*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
/*}*/
/*.slider-for-item-img-box img {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*max-width: 100%;*/
    /*min-height: 100%;*/
    /*height: auto;*/
    /*width: auto;*/
    /*vertical-align: middle;*/
/*}*/
.slider-for-nav-img-box{

}
/*

img.slick-slide {
    max-height: 500px!important;
    width: auto!important;
    margin: 0 auto;
}*/

.slick-initialized .slick-slide {
    display: block;
    filter: alpha(opacity=40);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.slick-initialized .slick-center {
    display: block;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper {
    width: 81%;
    margin: 0 auto;
}

.slick-codepen {
    width: 100%;
    height: 340px;
    background-color: rgba(0,0,0,0);
}
.slick-codepen .slick-slide {
    height: 390px!important;
}
.slick-codepen .slick-slide img {
    margin: 0;
    padding: 0;
    display: block;
    height: 340px;
}
.slick-codepen .slick-prev {
    left: 0;
}
.slick-codepen .slick-next {
    right: 0;
}
.slick-codepen .slick-prev, .slick-codepen .slick-next {
    background-color: transparent;
    top: 171px;
    z-index: 99999;
    width: 20%;
    height: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.slick-codepen .slick-prev:hover, .slick-codepen .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.slick-codepen .slick-prev:hover:before, .slick-codepen .slick-next:hover:before {
    color: rgba(255, 255, 255, 0.65);
}
.slick-codepen .slick-prev:before, .slick-codepen .slick-next:before {
    font-size: 38px;
    color: transparent;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.slick-codepen .slick-dots {
    width: 100%;
    bottom: -68px;
    border-bottom: 1px solid #3498DB;
    padding: 15px 0;
}
.slick-codepen .slick-dots li.slick-active button:before {
    color: #3498DB;
    margin-top: 1px;
    font-size: 10px;
}

.slider-nav .slick-slide{
    opacity: 1;
    margin: 5px 5px 5px;

}

.slider-nav .slick-slide img{
    width: 71px;
    height: 71px;
    border: 2px solid transparent;
}

.slider-nav .slick-current img{
    border:2px solid #808080;
}

.social_img_photo_report {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 300%;
    background: #fff;
    text-align: center;
    z-index: 9;
}

.slick-codepen.slick-initialized.slick-slider {
    margin-bottom: 60px;
}