@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext);
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  min-width: 1020px;
  background-image: url(../img/Space-background.jpg);
  font-family: "PT Sans", sans-serif; }

.contain {
  width: 990px;
  padding: 0 15px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none; }

ul {
  list-style-type: none; }

.white {
  color: #FFF; }

.active {
  color: #f7bb00 !important; }

.bg_masck {
  background-image: url("../img/bg_masc.png");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%; }

.header {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 6%; }
  .header .logo {
    display: block;
    float: left;
    width: 165px;
    margin-top: -15px;
    margin-right: 10px;
    margin-left: 5px; }
    .header .logo a img {
      width: 100%; }
  .header__rightside {
    display: block;
    position: relative;
    float: left;
    margin-top: 25px;
    line-height: 30px; }
    .header__rightside--enter {
      display: block;
      position: relative;
      float: left;
      width: 35%;
      margin-left: 5%; }
      .header__rightside--enter a {
        color: #FFF;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-style: dotted; }
        .header__rightside--enter a i {
          font-size: 16px; }
        .header__rightside--enter a:hover {
          color: #f7bb00; }
    .header__rightside--contacts {
      width: 60%;
      display: block;
      float: left;
      position: relative;
      text-align: right; }
      .header__rightside--contacts p {
        color: #FFF;
        margin: 0; }
      .header__rightside--contacts a {
        color: #FFF; }
        .header__rightside--contacts a:hover {
          color: #f7bb00; }

.navigation {
  display: block;
  float: left;
  width: 41%; }
  .navigation ul {
    padding: 0; }
    .navigation ul li {
      margin-right: 15px;
      margin-top: 15px;
      display: inline-block; }
      .navigation ul li a {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(2, 3, 3, 0.6); }
        .navigation ul li a:hover {
          color: #f7bb00; }

.footer {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 6%;
  margin-top: 20px; }
  .footer .fotorama {
    display: block;
    float: left;
    position: relative;
    width: 160px;
    padding-right: 15px;
    border-right: 1px solid #8e9196; }
  .footer__partners {
    display: block;
    float: left;
    width: 30%;
    position: relative; }
    .footer__partners p {
      margin-left: 15px;
      opacity: 0.5;
      color: #fff;
      font-family: "Myriad Pro";
      font-size: 14px;
      display: block;
      float: left; }
  .footer__button {
    display: block;
    position: relative;
    float: left;
    width: 40%;
    margin-top: 10px; }
    .footer__button a {
      display: block;
      margin: 0 auto;
      border: 1px solid #0550ae;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #1d8bc3;
      -webkit-box-shadow: 0 3px 6px rgba(11, 28, 51, 0.45);
      -moz-box-shadow: 0 3px 6px rgba(11, 28, 51, 0.45);
      box-shadow: 0 3px 6px rgba(11, 28, 51, 0.45);
      background-image: linear-gradient(to bottom, #135cb6 0%, #22a7d8 100%);
      width: 232px;
      height: 40px;
      -webkit-box-shadow: 0 0 12px rgba(181, 233, 255, 0.15);
      -moz-box-shadow: 0 0 12px rgba(181, 233, 255, 0.15);
      box-shadow: 0 0 12px rgba(181, 233, 255, 0.15);
      color: #ebf9ff;
      font-family: "PTSans", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(12, 73, 104, 0.6);
      text-align: center;
      line-height: 40px; }
      .footer__button a:hover {
        color: #ebf9ff;
        font-family: "PTSans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(12, 73, 104, 0.6);
        text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
        width: 232px;
        height: 40px;
        border: 1px solid #0550ae;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        -o-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #1d8bc3;
        -webkit-box-shadow: 0 3px 6px rgba(11, 28, 51, 0.45);
        -moz-box-shadow: 0 3px 6px rgba(11, 28, 51, 0.45);
        box-shadow: 0 3px 6px rgba(11, 28, 51, 0.45);
        background-image: linear-gradient(to bottom, #22a7d8 0%, #135cb6 100%);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        -o-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-box-shadow: 0 0 12px rgba(181, 233, 255, 0.15);
        -moz-box-shadow: 0 0 12px rgba(181, 233, 255, 0.15);
        box-shadow: 0 0 12px rgba(181, 233, 255, 0.15); }
  .footer__soc {
    display: block;
    position: relative;
    float: left;
    width: 30%;
    text-align: right;
    color: #FFF;
    margin-top: 10px; }
    .footer__soc--box {
      float: right; }
      .footer__soc--box a {
        color: #FFF;
        border: 1px solid rgba(255, 255, 255, 0.5);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        display: block;
        float: left;
        font-size: 20px;
        line-height: 38px;
        text-align: center;
        margin: 0 10px;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear; }
        .footer__soc--box a:hover {
          border-color: rgba(255, 255, 255, 0); }

.enter {
  height: 100%;
  background-image: url("../img/bg_masc.png");
  background-position: center;
  background-repeat: no-repeat; }
  .enter__container {
    display: block;
    position: relative;
    margin-top: 6%;
    margin-bottom: 6%; }
  .enter .logo {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 165px; }
    .enter .logo img {
      width: 100%; }
  .enter__box {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 939px;
    height: 366px;
    padding-top: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 2px 6px rgba(2, 3, 3, 0.5), 0 0 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 6px rgba(2, 3, 3, 0.5), 0 0 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 6px rgba(2, 3, 3, 0.5), 0 0 4px rgba(0, 0, 0, 0.25); }
    .enter__box--oneSlide {
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      width: 933px;
      height: 360px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -o-background-clip: padding-box;
      background-clip: padding-box; }
      .enter__box--oneSlide a {
        display: block;
        position: relative;
        overflow: hidden;
        width: 933px;
        height: 360px;
        text-align: center;
        word-spacing: nowrap;
        vertical-align: middle; }
        .enter__box--oneSlide a:after {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle; }
        .enter__box--oneSlide a img {
          max-width: 100%;
          min-height: 100%;
          vertical-align: middle; }
    .enter__box--twoSlide {
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      width: 933px;
      height: 360px;
      padding: 0 3px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -o-background-clip: padding-box;
      background-clip: padding-box; }
      .enter__box--twoSlide a {
        display: block;
        float: left;
        position: relative;
        height: 360px;
        width: 464px;
        margin-right: 5px;
        overflow: hidden;
        text-align: center;
        word-spacing: nowrap;
        vertical-align: middle; }
        .enter__box--twoSlide a:after {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle; }
        .enter__box--twoSlide a img {
          max-width: 100%;
          min-height: 100%;
          vertical-align: middle; }
        .enter__box--twoSlide a:last-of-type {
          margin-right: 0; }
    .enter__box--threeSlide {
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      width: 933px;
      height: 360px;
      padding: 0 3px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -o-background-clip: padding-box;
      background-clip: padding-box; }
      .enter__box--threeSlide .fotorama {
        width: 510px;
        display: block;
        float: left; }
        .enter__box--threeSlide .fotorama__nav-wrap {
          margin-top: -30px; }
        .enter__box--threeSlide .fotorama__dot {
          border: 2px solid #feb9c8; }
        .enter__box--threeSlide .fotorama .fotorama__nav__frame.fotorama__active .fotorama__dot {
          border-width: 4px;
          border-color: #FFF; }
        .enter__box--threeSlide .fotorama a {
          display: block;
          float: left;
          position: relative;
          height: 360px;
          width: 510px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          border-radius: 6px;
          overflow: hidden;
          text-align: center;
          word-spacing: nowrap;
          vertical-align: middle; }
          .enter__box--threeSlide .fotorama a:after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle; }
          .enter__box--threeSlide .fotorama a img {
            min-width: 510px;
            max-width: 100%;
            min-height: 100%;
            vertical-align: middle; }
      .enter__box--threeSlide-banners {
        display: block;
        float: left;
        width: 418px;
        margin-left: 5px; }
        .enter__box--threeSlide-banners a {
          display: block;
          float: left;
          position: relative;
          width: 100%;
          height: 178px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          border-radius: 6px;
          -o-background-clip: padding-box;
          background-clip: padding-box;
          overflow: hidden;
          text-align: center;
          word-spacing: nowrap;
          vertical-align: middle; }
          .enter__box--threeSlide-banners a:after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle; }
          .enter__box--threeSlide-banners a img {
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            vertical-align: middle; }
          .enter__box--threeSlide-banners a:first-of-type {
            margin-bottom: 3px; }
  .enter__button {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    background-image: url("../img/Shape-13 copy 2.png");
    background-position: center;
    background-repeat: no-repeat; }
    .enter__button a {
      display: block;
      margin: 0 auto;
      width: 234px;
      height: 40px;
      border: 1px solid #3395d1;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      color: #fff;
      font-family: "PTSans", sans-serif;
      font-size: 12px;
      font-weight: bold;
      text-shadow: 0 2px 2px rgba(2, 3, 3, 0.55);
      color: #fff;
      font-family: "PT Sans", sans-serif;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      font-weight: bold;
      text-shadow: 1px 2px 3px rgba(181, 231, 253, 0.2);
      background-image: url("../img/enter_but_bg.png");
      background-repeat: no-repeat;
      -webkit-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%; }
      .enter__button a:hover {
        text-shadow: 0 2px 2px rgba(2, 3, 3, 0.55);
        text-shadow: 0 0 9px rgba(255, 255, 255, 0.35);
        background-image: url("../img/Shape-13 copy.png"); }

.home {
  display: block;
  position: relative;
  float: left;
  width: 100%; }
  .home__calendar {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    margin: 20px; }
    .home__calendar img {
      display: block;
      margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
