.navigation {
	display: block;
	float: left;
	width: 41%;	
	ul {
		padding: 0;
		li {
			margin-right: 15px;
			margin-top: 15px;
			display: inline-block;
			a {
				color: #fff;				
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				@include text-shadow(0 1px 0 rgba(2,3,3,.6));
				&:hover {
					color: $yellow;
				}
			}
		}
	}
}