.footer {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 6%;
	margin-top: 20px;
	.fotorama {
		display: block;
		float: left;
		position: relative;
		width: 160px;
		padding-right: 15px;
		border-right: 1px solid #8e9196;
	}
	&__partners {
		display: block;
		float: left;
		width: 30%;
		position: relative;
		p {
			margin-left: 15px;
			opacity: 0.5;
			color: #fff;
			font-family: "Myriad Pro";
			font-size: 14px;
			display: block;
			float: left;
		}
	}
	&__button {
		display: block;
		position: relative;
		float: left;
		width: 40%;
		margin-top: 10px;
		a {
			display: block;
			margin: 0 auto;			
			border: 1px solid #0550ae;
			@include border-radius(20px);
			@include background-clip(padding-box);
			background-color: #1d8bc3;
			@include box-shadow(0, 3px, 6px, rgba(11,28,51,.45));
			background-image: linear-gradient(to bottom, #135cb6 0%, #22a7d8 100%);
			width: 232px;
			height: 40px;
			@include box-shadow(0, 0, 12px, rgba(181,233,255,.15));
			color: #ebf9ff;
			font-family: "PTSans", sans-serif;
			font-size: 14px;
			font-weight: bold;
			@include text-shadow(0 1px 0 rgba(12,73,104,.6));
			text-align: center;
			line-height: 40px;
			&:hover {
				color: #ebf9ff;
				font-family: "PTSans", sans-serif;
				font-size: 14px;
				font-weight: bold;
				@include text-shadow(0 1px 0 rgba(12,73,104,.6));
				@include text-shadow(0 0 12px rgba(255,255,255,.5));
				width: 232px;
				height: 40px;
				border: 1px solid #0550ae;
				@include border-radius(20px);
				@include background-clip(padding-box);
				background-color: #1d8bc3;
				@include box-shadow(0, 3px, 6px, rgba(11,28,51,.45));
				background-image: linear-gradient(to bottom, #22a7d8 0%, #135cb6 100%);
				@include border-radius(20px);
				@include background-clip(padding-box);
				@include box-shadow(0, 0, 12px, rgba(181,233,255,.15));
			}
		}
	}
	&__soc {
		display: block;
		position: relative;
		float: left;
		width: 30%;
		text-align: right;
		color: #FFF;
		margin-top: 10px;
		&--box {
			float: right;
			a {
				color: #FFF;
				border: 1px solid rgba(255, 255, 255, .5);
				@include border-radius(50%);
				width: 38px;
				height: 38px;
				display: block;
				float: left;
				font-size: 20px;
				line-height: 38px;
				text-align: center;
				margin: 0 10px;
				@include transition (0.5s);
				&:hover {
					border-color: rgba(255, 255, 255, 0);
				}
			}
		}		
	}
}