html,
body {
	margin: 0;
	padding: 0;
	background-color: #fff;	
	font-family: $PT;
	
}

html {
	height: 100%;
    min-width: 1020px;
}

body {	
	background-image: url(../img/Space-background.jpg);	
	-webkit-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
    
}

.contain {
	width: 1020px - 30px;
	padding: 0 15px;
	display: block;
	margin: 0 auto;
	position: relative;
	&:before,
	&:after{		
		display: table;
  		content: " ";
	}
	&:after{
		clear: both;
	}
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
		text-decoration: none;
	}
}

ul {
	list-style-type: none;
}

.blockTitle {
	display: inline-block;
	width: 100%;
	margin: 20px 0;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	font-family: $mpreg;
}

.white {
	color: #FFF;
}

.active {
	color: $yellow!important;
}

.index_paddingtop  {
	padding-top: 6%;
}

.row {
	display: block;
	width: 100%;
	&:before, &:after {		
		display: table;
		content: " ";
	}	
	&:after {
		clear: both;
	}	
}
